*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}
body{
    background-image: url(/bg.gif);
    background-size: cover;
    overflow: hidden;
}
.bgAnimation{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh; 
    position: absolute;
}
.bgAnimation div{
    width: 100vw;
    height: 100vh; 
    position: absolute;
    right: 5%;
    bottom: 4%;
}